
.html{
    height: 100% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.m_wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.m_card {
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    transform: scale(1);
    margin: auto; /* add this line to center horizontally */
  }
.m_card:hover{
    transform: translate(20px);
}
.m_card:before{
    content: "" ;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgb(61, 150, 201));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.m_card:hover:before{
    opacity: 1;
}
.m_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.m_card .m_info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.m_card:hover .m_info{
    opacity: 1;
    transform: translateY(0px);
}
.m_card .m_info h1{
    margin: 0;
}
.m_card .m_info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.m_card .m_info .m_btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #0000ff;
    /* color: #000; */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.m_card .m_info .m_btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5); 
}
